body{
    color: white;
    background-color: black;
}
p{
    font-family: monospace;
    text-align: center;
    margin: 3.5rem;
    font-size: xx-large;
}
#phaser-example{
    text-align: center;
}
.btnBox{
    float: right;
}
span{
    font-family: monospace;
    font-weight: 100%;
}
.infoDiv{
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
button{
    margin: 0.5rem;
}
canvas{
    border-radius: 50px;
}
.myBtnStyle{
    background-color: #212121;
    border-color: #212121;
    color: white;
    font-family: monospace;
    font-size: 111%;
    border-radius: 10px;
  }
  .modal-content{
    background-color: #212121;
    border-radius: 20px;
    font-family: monospace;
  }
  .myBtnStyle:hover{
    background-color: burlywood;
  }

  .dropdown-menu {
    background-color: black;
    padding: 0px;
    left: -8px  !important ;
  }
  .dropdown-item {
    width: 93%;
  }
  div.dropdown-menu.show{
    left : auto;
  }